* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      font-family: "Inter", sans-serif;
}
:root {
      --bg_main: #1f1d2c;
      --bg_secondary: #242535;
      --color_main: #fff;
      --color_decoration: #f1a600;
      --color_secondary: #e5e5e5;
      --color_gray: gray;
}
body {
      background: var(--bg_main);
}
h1,
h2,
p,
a {
      color: var(--color_main);
}
.title {
      color: var(--color_main);
      font-size: 150px;
      font-weight: bold;
}
.subtitle {
      color: var(--color_main);
      font-size: 50px;
      font-weight: bold;
}
.text {
      font-size: 40px;
      font-weight: 300;
}
.p {
      font-size: 18px;
}
/*? -------------------HEADER--------------*/
.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding: 0px 20px;
}
.nav_item {
      width: 60%;
}
.nav_item ul {
      display: flex;
      justify-content: space-around;
      gap: 1em;
}
.nav_item li:hover a {
      color: var(--color_decoration);
      transform: translateY(5px);
}
.nav_ico {
      display: none;
      cursor: pointer;
}
.nav_ico img {
      color: var(--color_main);
      fill: white;
}

/**  ---------------------HEADER-----------------------------------*/
header {
      position: relative;
}
.header {
      height: 90vh;
}
.header span {
      color: var(--color_decoration);
}
.header_text {
      padding: 0 20px;
      margin-left: 80px;
}
.header_text h2 {
      margin-top: 20px;
      display: block;
      width: 800px;
}
.header_text p {
      margin-top: 20px;
      display: block;
      width: 200px;
}
.social {
      margin-top: 40px;
}
.social img {
      height: 40px;
      padding: 0px 20px;
      cursor: pointer;
      transition: all 0.4s;
}
.social img:hover {
      transform: scale(1.1);
}
.hero_content {
      background-image: url("./Assets/Rectangle\ 33.svg");
      height: 80%;
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
}
.hero_content img {
      object-fit: cover;
      height: 80%;
      width: 70%;
      position: absolute;
      bottom: -80px;
      left: 40px;
}
/*!-----------------ABOUT--------------------------------*/
.acerca {
      background-image: url("./Assets/Rectangle\ 33-1.svg");
      text-align: center;
      padding: 40px 0;
}
.acerca p {
      display: inline-block;
      width: 60%;
      margin: 10px 0 40px 0;
}
.acerca .acerca_logo {
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
}
.logo {
      opacity: 0.1;
      transform: scale(0);
      transition: all 0.5s ease;
}
/* .logo:nth-child(1) {
      transform: translateX(-500%);
}
.logo:nth-child(2) {
      transform: translateX(+500%);
} */
.logo img {
      object-fit: cover;
      width: 150px;
      height: 150px;
}
/**------------------EXPERIENCIA-----------------*/

.experiencia {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
}
.content_experience {
      width: 80%;
}
.card_experience {
      display: flex;
      justify-content: space-between;
}
.expirence_item {
      padding: 40px 20px;
      text-align: center;
}
.expirence_item span {
      color: var(--color_decoration);
}
.years {
      position: relative;
      padding: 40px 20px;
}
.years::before {
      content: " ";
      height: 100%;
      width: 2px;
      background: var(--color_decoration);
      position: absolute;
      top: 0px;
      right: -10px;
}
.years::after {
      content: " ";
      height: 10px;
      width: 10px;
      background: var(--color_decoration);
      position: absolute;
      top: 2px;
      right: -14px;
}
/*?----------------------------SKILLS--------------------------*/
.skills {
      position: relative;
      min-height: 40vh;
      margin-top: 40px;
}
.skills_content {
      margin: 20px auto;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}
.skills > h2 {
      margin: auto;
      width: 60%;
}
.skills_bg {
      background-image: url("./Assets/Rectangle\ 34.svg");
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
}
.skills_item {
      display: flex;
      align-items: center;
      gap: 5em;
      margin: 20px;
}
.skills_item h2 {
      color: var(--color_decoration);
}
/**---------------------Portfolio----------------*/
.portfolio {
      min-height: 100vh;
}
.portfolio h2 {
      text-align: center;
      margin: 40px 0;
}
.content_portfolio {
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      padding-bottom: 40px;
}
.project:nth-child(1) {
      align-self: flex-start;
}
.project:nth-child(2) {
      align-self: flex-end;
}
.project:nth-child(3) {
      align-self: flex-start;
}
.project img {
      object-fit: cover;
      width: 400px;
      height: 300px;
}
.project {
      margin: 20px 0;
      position: relative;
}
.project::after {
      content: " ";
      position: absolute;
      top: -20px;
      left: -10px;
      height: 90%;
      width: 105%;
      background: var(--color_decoration);
      /* transform: rotate(10deg); */
      z-index: -1;
}

/*?--------------------Footer------------------*/
.footer {
      text-align: center;
      background-image: url("./Assets/Rectangle\ 34.svg");
}
.footer h2 {
      padding: 20px 0;
      margin-bottom: 30px;
}
.content_footer {
      display: flex;
      justify-content: space-evenly;
      height: 250px;
      padding-bottom: 40px;
}
.footer_item:nth-child(1) {
      align-self: flex-start;
}
.footer_item:nth-child(2) {
      align-self: flex-end;
}
.footer_item img {
      height: 100px;
}
.footer_item span {
      color: gray;
}
.copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
}
/*!-------------------------Efecto---------------------------*/
.show {
      transform: scale(1);
      opacity: 1;
}

@media only screen and (max-width: 600px) {
      .title {
            font-size: 50px;
      }
      .subtitle {
            font-size: 32px;
      }
      .text {
            font-size: 18px;
      }
      .p {
            font-size: 16px;
      }
      .navbar {
            background: var(--color_decoration);
      }
      .nav_ico {
            display: block;
      }
      .nav_item {
            background: var(--bg_secondary);
            position: absolute;
            width: 100%;
            top: 80px;
            left: 0;
            clip-path: circle(1.4% at 100% 0);
            transition: all 0.4s ease;
      }
      .active {
            clip-path: circle(140.3% at 99% 0);
      }
      .nav_item ul {
            flex-direction: column;
            align-items: center;
            gap: 10px;
      }
      .nav_item ul li {
            padding: 20px 0;
      }
      .hero_content {
            height: 80%;
            width: 60%;
      }
      .hero_content img {
            height: 70%;
            width: 80%;
      }
      .header {
            height: 60vh;
      }
      .header_text {
            padding: 0px;
            margin-left: 10px;
      }
      .header_text h2 {
            width: 400px;
      }
      .header_text p {
            width: 100px;
      }
      .skills_bg {
            width: 30%;
      }
      .project img {
            width: 300px;
            height: 200px;
      }
      .social img {
            padding: 0px 10px;
            cursor: pointer;
      }
      .skills > h2 {
            text-align: center;
            width: 100%;
      }
      .skills_content {
            margin: 20px auto;
            width: 80%;
      }
      .skills_item {
            gap: 2em;
      }
}
